.additional {
  position: relative;

  //линия справа от титула
  &::after {
    position: absolute;
    content: "";
    top: 44px;
    right: 0;

    width: calc(50% - 108px);
    height: 3px;

    background-color: #68b738;

    @media (min-width: $tablet-width) {
      top: 86px;

      width: calc(50% - 58px);
    }

    @media (min-width: $desktop-width) {
      top: 95px;

      width: calc(50% + 236px);
    }
  }

  //линия слева от титула
  &::before {
    @media (min-width: $tablet-width) {
      position: absolute;
      content: "";
      top: 86px;
      left: 0;

      width: calc(50% - 355px);
      height: 3px;

      background-color: #68b738;
    }

    @media (min-width: $desktop-width) {
      top: 95px;

      width: calc(50% - 650px);
    }
  }
}

.additional__title-wrapper {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 20px;
  padding-top: 32px;

  @media (min-width: $tablet-width) {
    max-width: $tablet-width;
    padding: 0 30px;
    padding-top: 64px;
  }

  @media (min-width: $desktop-width) {
    max-width: $desktop-width;
    padding: 0 40px;
    padding-top: 72px;
  }
}

.additional__wrapper {
  /* влияет на секцию в целом */
  max-width: 320px;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    max-width: $tablet-width;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    max-width: $desktop-width;
    padding: 0 40px;
    padding-top: 80px;
    padding-bottom: 30px;
  }
}

.additional__title {
  margin: 0;

  @include text-set (24px, 24px, $oswald);
  font-weight: 400;
  text-align: left;
  color: #111111;

  @media (min-width: $tablet-width) {
    width: 410px;

    font-size: 36px;
    line-height: 36px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    text-align: left;
  }
}

.additional__list {
  @include list-reset;
  padding-top: 32px;

  @media (min-width: $tablet-width) {
    padding-top: 80px;
  }

  @media (min-width: $desktop-width) {
    width: 895px;
    padding: 0;
  }
}
