.button {
  display: block;
  min-height: 40px;
  padding: 10px 0;

  font-family: $oswald;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  background-color: #68b738;
  border: none;

  &--sample {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;

    @media (min-width: $tablet-width) {
      min-height: 54px;
      width: 245px;
      padding-top: 15px;

      @include text-set (20px, 20px, $oswald);
      font-weight: 400;
    }
  }

  &--catalog {
    font-size: 16px;
    line-height: 20px;
  }

  &--show-more {
    color: #444444;

    background-color: #f2f2f2;
  }
}

