.button {
  display: block;
  height: 40px;
  width: 100%;
  padding: 10px 0;

  font-family: $oswald;
  font-weight: 400;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;

  background-color: #68b738;
  border: none;

  cursor: pointer;

  &--sample {
    font-size: 14px;
    line-height: 18px;
    font-weight: 400;

    @media (min-width: $tablet-width) {
      min-height: 54px;
      width: 245px;
      padding-top: 15px;

      @include text-set (20px, 20px, $oswald);
      font-weight: 400;
    }

    &:hover,
    &:focus {
      background-color: #5eaa2f;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
      background-color: #5eaa2f;
    }
  }

  &--catalog {
    font-size: 16px;
    line-height: 20px;

    &:hover,
    &:focus {
      background-color: #5eaa2f;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
      background-color: #5eaa2f;
    }
  }

  &--show-more {
    font-size: 16px;
    line-height: 20px;
    color: #444444;

    background-color: #f2f2f2;

    &:hover,
    &:focus {
      background-color: #ebebeb;
    }

    &:active {
      color: rgba(68, 68, 68, 0.3);
      background-color: #ebebeb;
    }
  }

  &--form {
    font-size: 16px;
    line-height: 20px;

    @media (min-width: $tablet-width) {
      width: 284px;
      height: 52px;
      padding-right: 5px; //выравнивает надпись в кнопке для pixelperfect
      padding-top: 7px; //выравнивает надпись в кнопке для pixelperfect

      font-size: 20px;
      line-height: 20px;
    }

    @media (min-width: $desktop-width) {
      width: 570px;
      padding: 0;
    }

    &:hover,
    &:focus {
      background-color: #5eaa2f;
    }

    &:active {
      color: rgba(255, 255, 255, 0.3);
      background-color: #5eaa2f;
    }
  }
}
