.catalog-goods__list {
  @include list-reset;

  @media (min-width: $tablet-width) {
    /*начиная с планшета выстраивает карточки товаров по рядам и строкам*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.catalog-goods__wrapper {
  /*работает для секции в целом начиная с планшета*/
  @media (min-width: $tablet-width) {
    max-width: $tablet-width; /*адаптив*/
    margin: 0 auto; /*адаптив*/
    padding: 0 30px;
    padding-top: 30px;
  }

  @media (min-width: $desktop-width) {
    max-width: $desktop-width;
    padding: 0 40px;
    padding-top: 30px;
  }
}

.catalog-goods__item:nth-child(-n+4) {
  @media (min-width: $desktop-width) {
    margin-bottom: 2px;
  }
}
