.catalog-product {
  height: 209px;

  border-top: 1px solid #ededed;

  @media (min-width: $tablet-width) {
    // width: 45.76%; /*резина*/
    width: 324px; /*адаптив*/
    height: 571px;

    background-image: linear-gradient(to bottom, #ffffff 139px, #f2f2f2 139px);
    border: none;
  }

  @media (min-width: $desktop-width) {
    width: 245px;
  }
}

.catalog-product__wrapper {
  /*работает только для мобилки*/
  max-width: 320px; /*адаптив*/
  margin: 0 auto; /*адаптив*/
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
  min-height: 209px;
  padding: 0 20px;
  padding-bottom: 22px;

  @media (min-width: $tablet-width) {
    position: relative;

    width: 100%;
    height: 100%;

    flex-direction: column;
    padding: 0 35px;
    padding-top: 302px;
  }

  @media (min-width: $desktop-width) {
    padding-left: 37px;
    padding-right: 37px;
  }
}

.catalog-product__desc-container {
  width: 50%; /*адаптивность и резина на мобилке*/
  padding-top: 23px;

  @media (min-width: $tablet-width) {
    width: 100%;
    padding: 0;
  }
}

.catalog-product__text-link {
  text-align: center;
  text-decoration: none;
  color: #111111;
}

.catalog-product__img-link {
  width: 50%; /*адаптивность и резина на мобилке*/

  font-size: 0;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
  /*выравнивает картинки разного размера на планшете*/
  @media (min-width: $tablet-width) {
    position: absolute; /*убирает картинки из потока чтобы паддингами врапера влиять на контент*/
    top: 56px;
    left: 0;

    display: flex;
    align-items: flex-end;
    justify-content: center;
    height: 208px;
  }

  @media (min-width: $desktop-width) {
    top: 58px;
  }
}

.catalog-product__img {
  @media (min-width: $tablet-width) {
    width: auto;
    // height: auto;
    height: 100%;
  }
}

.catalog-product__title {
  width: 80px; /*делает название в 2 строки на мобилке*/
  margin: 0;

  @include text-set (16px, 20px, $oswald);
  font-weight: 400;
  text-align: left;
  color: inherit; /*из catalog-product__link*/
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    width: 134px;
    margin: 0 auto;

    font-size: 20px;
    line-height: 20px;
    text-align: center;
  }
}

/*таблица*/
.catalog-product__table {
  width: 100%;
  margin: 0;
  margin-top: 12px;

  border-collapse: collapse;

  @media (min-width: $tablet-width) {
    margin-top: 20px;
  }
}

/*ячейки таблицы*/
.catalog-product__data {
  @include text-set (12px, 14px, $arial);
  color: #444444;

  &--right {
    text-align: right;
  }

  @media (min-width: $tablet-width) {
    height: 31px;

    font-size: 16px;

    border-bottom: 1px solid #cdcdcd;
  }
}

.catalog-product__button {
  @media (min-width: $tablet-width) {
    margin-top: 35px;
  }
}
