.catalog-product__wrapper {
  max-width: 320px;
  min-height: 210px;
  margin: auto;
  padding: 0 20px;
}

.catalog-product__link {
  text-decoration: none;
  color: #111111;
}

.catalog-product__title {
  width: 80px;

  @include text-set (20px, 20px, $oswald);
  font-weight: 400;
  text-align: left;
  color: inherit;
  text-transform: uppercase;
}

.catalog-product__data {
  @include text-set (12px, 16px, $arial);
  color: #444444;
}

.catalog-product__container {
  display: flex;
}

.catalog-product__table {
  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .catalog-product__wrapper {
    width: 324px;
    min-height: 574px;
    padding: 0 38px;
  }

  .catalog-product {
    background-image: linear-gradient(#ffffff 143px, #f2f2f2 143px);
  }

  .catalog-product__container {
    flex-direction: column;
    align-items: center;
  }
}

@media (min-width: $desktop-width) {
  .catalog-product__wrapper {
    width: 245px;
  }
}
