.example {
  // background-color: #f2f2f2;
  background-color: red; /*заглушка*/
  height: 705px; /*временно высота заглушки*/

  @media (min-width: $tablet-width) {
    // background-image: linear-gradient(#ffffff 50%, #eaeaea 50%);
    height: 1083px; /*временно высота заглушки*/
  }

  @media (min-width: $desktop-width) {
    height: 590px; /*временно высота заглушки*/
  }
}

.example__wrapper {
  max-width: 320px;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    max-width: $tablet-width;
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    max-width: $desktop-width;
    padding: 0 40px;
    display: flex;
  }
}

.example__title {
  margin: 0;
  padding: 0;

  @include text-set (36px, 60px, $oswald);
  font-weight: 400;
  text-align: left;
  color: #111111;
}

.example__text {
  margin: 0;
  padding: 0;

  @include text-set (14px, 18px, $arial);
  text-align: left;
}

.example__list {
  display: flex;
  margin: 0;
  padding: 0;

  list-style: none;
}

.example__container-list {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
  }
}

.example__item {
  &:nth-child(1) {
    margin-right: auto;
  }

  &:nth-child(2) {
    margin-left: auto;
  }
}

.example__cost {
  margin: 0;
  padding: 0;

  @include text-set (14px, 20px, $oswald);
  font-weight: 400;
  text-align: center;
  color: #111111;
}
