.header__block {
  display: flex;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  min-height: 65px;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet-width) {
    width: 222px;
    padding: 0;
    margin: 0;
    margin-right: auto;
  }
}

.header__wrapper {
  @media (min-width: $tablet-width) {
    display: flex;
    width: 100%;
    padding: 0 30px;
    padding-top: 20px;
  }

  @media (min-width: $desktop-width) {
    max-width: $desktop-width;
    margin: 0 auto;
    padding: 0 40px;
    padding-top: 50px;
  }
}

.header__button {
  width: 25px;
  height: 19px;
  margin-left: auto;

  border: none;
  background-image: url("../img/icon-mobile-menu.png");
  background-repeat: no-repeat;
  background-color: transparent;

  @media (min-width: $tablet-width) {
    display: none;
  }
}

