.header__container {
  display: flex;
  align-items: center;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 11px;
  margin-bottom: 15px;
}

.header__logo {
  margin-right: auto;
}

.header__button {
  margin-left: auto;
}
