.main-catalog__wrapper {
  max-width: 320px; /*адаптив*/
  margin: 0 auto; /*адаптив*/
  padding: 0 20px;
  padding-top: 17px;
  min-height: 103px; /*временно*/

  @media (min-width: $tablet-width) {
    max-width: $tablet-width;
    padding: 0 30px;
    padding-top: 54px;
  }

  @media (min-width: $desktop-width) {
    max-width: $desktop-width;
    padding: 0 40px;
    padding-top: 72px;
  }
}
