.menu__list {
  @include list-reset;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    min-width: 444px;
  }

  @media (min-width: $desktop-width) {
    min-width: 480px;
  }
}

.menu__item {
  min-height: 66px;
  padding-top: 22px;
  text-align: center;

  border-bottom: 1px solid #eeeeee;

  &:nth-child(1) {
    border-top: 1px solid #eeeeee;
  }

  @media (min-width: $tablet-width) {
    &:nth-child(1n) {
      border: none;
    }
  }
}

.menu__link {
  @include text-set (20px, 20px, $oswald);
  font-weight: 500;
  color: #111111;
  text-transform: uppercase;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    @include text-set(18px, 25px, $oswald);
    font-weight: 400;
  }

  @media (min-width: $desktop-width) {
    @include text-set(20px, 25px, $oswald);
    font-weight: 400;
    color: #ffffff;
  }
}
