.menu {
  padding: 0;
  margin: 0;

  list-style: none;
}

.menu__item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65px;
  margin-bottom: -1px;

  border: 1px solid #eeeeee;
}

.menu__link {
  @include text-set (20px, 20px, $os-med);
  color: #111111;
  text-transform: uppercase;
  text-decoration: none;
}
