.offers__wrapper {
  margin: 0 auto;
  padding: 0 20px;
  outline: 1px solid green;

  @media (min-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
    max-width: $desktop-width;
    padding: 0 40px;
    padding-top: 80px;
  }
}

.offers__product {
  &:not(:last-child) {
    margin-bottom: 20px;
  }

  @media (min-width: $tablet-width) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media (min-width: $desktop-width) {
    &:not(:last-child) {
      margin-bottom: 0;
    }
  }
}
