.sample__container {
  height: 305px;

  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.sample__title {
  margin: 0;
  padding: 0;

  @include text-set (36px, 36px, $oswald);
  font-weight: 400;
  color: #ffffff;
}

.sample__text {
  @include text-set (14px, 14px, $oswald);
  font-weight: 400;
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .sample__title {
    color: #111111;
  }

  .sample__text {
    color: #111111;
  }
}
