.show-more__wrapper {
  max-width: 320px;
  min-height: 210px;
  margin: auto;
  padding: 0 20px;
}

.show-more__text {
  margin: 0;
  padding: 0;

  @include text-set (16px, 20px, $oswald);
  font-weight: 400;
  text-align: center;
  color: #111111;
  text-transform: uppercase;

  &--show-more {
    margin: 0;
    padding: 0;

    @include text-set (12px, 16px, $oswald);
    font-weight: 400;
    text-align: center;
    color: #444444;
  }
}

@media (min-width: $tablet-width) {
  .show-more__wrapper {
    width: 324px;
    min-height: 574px;
    padding: 0 38px;
  }

  .show-more__container {
    min-height: 433px;
    width: 100%;
    margin-top: auto;
  }
}

@media (min-width: $desktop-width) {
  .show-more__wrapper {
    width: 245px;
  }
}
