.slider {
  position: relative;

  min-height: 325px;
  text-align: center;

  @media (min-width: $tablet-width) {
    min-height: 631px;
    display: flex;
  }

  @media (min-width: $desktop-width) {
    width: 690px;
    min-height: 652px;
  }
}

.slider__slide {
  overflow-x: hidden;
  position: relative;

  &--before {
    @media (min-width: $tablet-width) {
      min-height: inherit;
      width: 50%;

      background-image: linear-gradient(to bottom, #ffffff 169px, #f2f2f2 169px);
    }

    @media (min-width: $desktop-width) {
      width: 417px;

      background-image: linear-gradient(to bottom, #ffffff 189px, #f2f2f2 189px);
    }
  }

  &--after {
    display: none;

    @media (min-width: $tablet-width) {
      display: block;
      min-height: inherit;
      width: 50%;
      background-image: linear-gradient(to bottom, #ffffff 169px, #eaeaea 169px);
    }

    @media (min-width: $desktop-width) {
      background-image: linear-gradient(to bottom, #ffffff 189px, #eaeaea 189px);
    }
  }
}

.slider__cat-img {
  @media (min-width: $tablet-width) {
    position: absolute;

    display: block;
    width: auto;
    max-width: $tablet-width;
    min-height: 517px;
  }

  @media (min-width: $desktop-width) {
    max-width: 690px;
  }

  &--before {
    @media (min-width: $tablet-width) {
      right: -352px;
    }

    @media (min-width: $desktop-width) {
      right: -325px;
    }
  }

  &--after {
    @media (min-width: $tablet-width) {
      left: -338px;
    }

    @media (min-width: $desktop-width) {
      left: -365px;
    }
  }
}

/*управление слайдером*/
.slider__toggles-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 200px;
  margin: 0 auto;
  margin-top: 28px;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: 508px;
    left: 50%;
    width: 576px;

    transform: translateX(-50%);
  }

  @media (min-width: $desktop-width) {
    top: 529px;
    left: 77px;

    transform: none;
  }
}

.slider__toggle {
  position: relative;

  @include text-set(16px, 20px, $oswald);
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;

  cursor: pointer;
  user-select: none;

  @media (min-width: $tablet-width) {
    font-size: 20px;
  }

  &--was {
    margin-left: 3px;
  }

  &--be {
    @media (min-width: $tablet-width) {
      margin-right: 3px;
    }
  }

  &::before {
    @media (min-width: $tablet-width) {
      position: absolute;
      content: "";
      bottom: -8px;
      left: 0;

      width: 100%;
      height: 1px;

      border-top: 1px dotted #bebebe;
    }

    @media (min-width: $desktop-width) {
      bottom: -7px;
    }
  }

  &:hover::before {
    border-top: 1px solid #989898;
  }

  &:active::before {
    border: none;
  }
}


.slider__condition-container {
  position: relative;

  display: flex;
  align-items: center;
  width: 84px;
  height: 14px;
  padding-left: 5px;

  border-radius: 6px;
  border: 1px solid #cdcdcd;
  background-color: #ffffff;

  @media (min-width: $tablet-width) {
    justify-content: center;
    width: 428px;
    height: 6px;
    margin-top: 2px;

    border-radius: 2.5px;
    border: none;
    background-color: #dcdcdc;
  }
}

.slider__condition {
  display: block;
  width: 36px;
  height: 6px;

  border-radius: 3px;
  background-color: #68b738;

  @media (min-width: $tablet-width) {
    position: absolute;
    top: -13px;
    left: 46.5%;

    width: 34px;
    height: 34px;

    border-radius: 50%;
    border: 1px solid #cdcdcd;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    background-color: #ffffff;
    background-image: url("../img/slider-control-inner-circle.svg");
    background-position: center;
    background-repeat: no-repeat;

    cursor: pointer;

    &:hover,
    &:focus {
      box-shadow: 0 3px 5px 0 rgba(0, 0, 0, 0.25);
    }

    &:active {
      border: 2px solid #68b738;
      box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
    }
  }
}
