.slider-condition {
  display: flex;
  align-items: center;
  width: 84px;
  height: 14px;

  border-radius: 10px;
  border: 1px solid #cdcdcd;
  background-color: #ffffff;
}

.slider-condition__line {
  display: block;
  width: 35px;
  height: 6px;
  margin-left: 6px;

  border-radius: 10px;
  background-color: #68b738;
}
