.yandex-map {
  height: 362px;
  overflow-x: hidden;

  background-image: url("/img/bg-map-mobile@1x.png");
  background-color: #f2f2f2;
  background-repeat: no-repeat;
  background-position: 50% 50%;

  @media (min-width: $tablet-width) {
    height: 400px;
  }
}
