$os-med: "Oswald Medium", "Arial", sans-serif;
$os-reg: "Oswald Regular", "Arial", sans-serif;
$ar-reg: "Arial", "Arial", sans-serif;

@mixin text-set ($font-size, $line-height, $font-family) {
  font-size: $font-size;
  line-height: $line-height;
  font-family: $font-family;
}
