.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 280px;
  height: 40px;

  font-family: $os-reg;
  color: #ffffff;
  text-transform: uppercase;
  text-decoration: none;

  background-color: #68b738;
  border: none;
}

.button--index {
  font-size: 14px;
  line-height: 18px;
}

.button--catalog {
  font-size: 16px;
  line-height: 20px;
}

.button--show-more {
  color: #444444;

  background-color: #f2f2f2;
}
