.catalog-product__link {
  height: 210px;

  text-decoration: none;
  color: #111111;
}

.catalog-product__title {
  width: 80px;

  @include text-set (20px, 20px, $os-reg);
  text-align: left;
  color: inherit;
  text-transform: uppercase;
}

.catalog-product__data {
  @include text-set (12px, 16px, $ar-reg);
  color: #444444;
}

.catalog-product__container {
  display: flex;
  height: 144px;
}

.catalog-product__table {
  margin: 0;
  padding: 0;
}
