.invitation {
  height: 514px;
}

.invitation--grey {
  background-color: #f2f2f2;
}

.invitation__container {
  display: flex;
  margin-left: 20px;
}

.invitation__title {
  padding: 0;
  margin: 0;
  max-width: 123px;

  @include text-set (16px, 20px, $os-reg);
  text-align: left;
  color: #111111;
}

.invitation__address {
  max-width: 136px;

  @include text-set (14px, 20px, $ar-reg);
  text-align: left;
  font-style: normal;
}
