.sample__container {
  height: 305px;

  background-image: url("../img/index-background-mobile@1x.jpg");
  background-repeat: no-repeat;
}

.sample__title {
  @include text-set (36px, 36px, $os-reg);
  color: #ffffff;
}

.sample__text {
  @include text-set (14px, 14px, $os-reg);
  color: #ffffff;
}

