$os-med: "oswaldmedium", "Arial", sans-serif;
$os-reg: "oswaldregular", "Arial", sans-serif;
$ar-reg: "arialregular", "Arial", sans-serif;

@mixin text-set ($font-size, $line-height, $font-family) {
  font-size: $font-size;
  line-height: $line-height;
  font-family: $font-family;
}
